.logo-star-wars{
    height: 100px;
    width: 100px;
   
   
}

h1{
    font-family: 'star jedi', arial;
}
h5, span, button {
    font-family: 'star jedi',Arial, sans-serif;
}

body{
    background-image: url('https://e0.pxfuel.com/wallpapers/905/365/desktop-wallpaper-star-wars-space-star-wars-galaxy.jpg');
   /*  background-size: cover; */
}

.buton {
    font-size: 16px;
    padding: 5px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    
}

.buton:hover {
    transform: scale(1.1);
}



.favorites, li {
    font-family: 'arial';
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
    margin-left: 8px;
    /* margin-right: -15px; */
    padding: 1px;
    
}

/* Estilos para la barra de desplazamiento */
div.overflow-auto::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra */
}

/* Estilo del riel de la barra de desplazamiento */
div.overflow-auto::-webkit-scrollbar-track {
    background-image: url('https://e0.pxfuel.com/wallpapers/905/365/desktop-wallpaper-star-wars-space-star-wars-galaxy.jpg');
}

/* Estilo del pulgar (scrollbar handle) */
div.overflow-auto::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del pulgar */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilo del pulgar al pasar el mouse */
div.overflow-auto::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cambio de color al pasar el mouse */
}

